<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表过滤</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="/Vue/js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="(p,index) in filPersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false; //阻止vue在启动时生成生产提示

    const vm = new Vue({
        el: "#root",
        data: {
            keyWord: '',
            persons: [
                { id: '001', name: 'wy', age: '18', sex: '女' },
                { id: '002', name: 'ff', age: '20', sex: '男' },
                { id: '003', name: 'ycf', age: '16', sex: '男' },
                { id: '004', name: 'ww', age: '18', sex: '女' },
            ],
            filPersons: []
        },
        watch: {
            keyWord: {
                immediate: true,
                handler(val) {
                    this.filPersons = this.persons.filter((p) => {
                        return p.name.indexOf(val) !== -1
                    })
                }
            }

        }
    })
</script>

</html>