<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>姓名案例3</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="/Vue/js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br /><br />
        名：<input type="text" v-model="lastName"><br /><br />
        全名：<span>{{fullName}}</span><br /><br />
    </div>

</body>

<script type="text/javascript">
    Vue.config.productionTip = false; //阻止vue在启动时生成生产提示

    const vm = new Vue({
        el: "#root",
        data: {
            firstName: "wan",
            lastName: "yi",
        },
        computed: {
            fullName: {
                //get和set不能使用箭头函数
                //get的作用：当有人读取fullName，get就会被调用，返回值是fullName的值
                //get调用的时机：1.初次读取fullName,2.所依赖的数据会发生变化时。
                get() {
                    console.log('get');
                    return this.firstName + '-' + this.lastName
                },
                //set什么时候调用：当fullName被修改时
                set() {
                    console.log('set', value);
                    const arr = value.split('-')
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            }
        }
    })
</script>

</html>