<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
    <div class="box">
        <h1>学生信息</h1>
        <button @click="student.age++">年龄+1</button>
        <button @click="addSex">添加性别</button>
        <button @click="student.sex='女'">修改性别</button>
        <button @click="addFriend">在列表首位添加一个朋友</button>
        <button @click="shiftName">修改第一个朋友的信息</button>
        <button @click="addHobby">添加一个爱好</button>
        <button @click="changeHobby">修改第一个爱好为：学习</button>

        <h3>姓名：{{student.name}}</h3>
        <h3>年龄：{{student.age}}</h3>
        <h3 v-if="student.sex">性别：{{student.sex}}</h3>
        <h3>爱好：</h3>
    <ul>
        <li v-for="(h,index) in student.hobby" :key="index">
            {{h}}
        </li>
    </ul>
    <h3>朋友们：</h3>
    <ul>
        <li v-for="(f,index) in student.friends" :key="index">
            姓名：{{f.name}}---年龄：{{f.age}}
        </li>
    </ul>
    </div>

    <script>
        const vm = new Vue({
        el:'.box',
        data:{
            student:{
                name:'小万',
                age:28,
                hobby:['吃饭','睡觉','打球'],
                friends:[
                    {name:'jerry',age:35},
                    {name:'mark',age:39}
                ]
            }
        },
        methods:{
            addSex(){
                // Vue.set(this.student,'sex','男')//三种方法都可以
                // vm.$set(this.student,'sex','男')
                this.$set(this.student,'sex','男')
            },
            addFriend(){
                this.student.friends.unshift({name:'峰峰',age:8})
            },
            shiftName(){
                // this.student.friends.splice(0,1,{name:'峰峰大',age:9})//F1
                /* 如果止步于friends[0],然后赋值的话，这种方法vue不认，无法完成响应式。但是this.student.friends[0]这是个「对象」『对象』，并且其属性name也是响应式的属性，因此对他进行修改，vue能捕捉到，并对页面进行重新渲染 */
                this.student.friends[0].name = '峰峰大' 
                this.student.friends[0].age = '9' 
            },
            addHobby(){
                this.student.hobby.push('学习')
            },
            changeHobby(){
                // this.student.hobby.splice(0,1,'学习')
                this.$set(this.student.hobby,0,'学习')
            }
        },
        computed:{
            
        },
        watch:{
            
        }
        })
    </script>
</body>
</html>